/*body*/
body {
    margin: 0;
    font-family: 'Krub', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #fff;
    overflow-x: hidden;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
h1, h2, h3 {
    margin: 0;
}
hr {
    display: block;
    width: 90px;
    height: 1px;
    margin: 40px 0;
    border: 0;
    background-color: #a460f9;
}
/*container*/
.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    max-height: 1000px;
}
/*intro*/
.start {
    width: 100%;
    height: 100vh;
    background: url(images/intro.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
/*header*/
.header {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}
.header__inner {
    padding: 40px 0;
}
.header__logo {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    position: relative;
    top: -30px;
    right: -50px;
}
.header__nav {
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    position: relative;
    top: -80px;
    right: -450px;
    margin: 30px;
}
.header__nav:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: .1s linear;
    margin: 10px 0;
}
.header__nav:hover::after {
    opacity: 1;
}
.header__button {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    background-color: #ffffff;
    font-size: 10px;
    font-weight: 300;
    color:#000000;
    text-transform: uppercase;
    text-decoration: none;
    transition: background .1s linear, color .1s linear;
    position: relative;
    right: -490px;
    top: -67px;
}
.header__button:hover {
    background-color: #a460f9;
    color: #ffffff;
}
.header__menu {
    text-decoration: none;
    font-size: 30px;
    transition: color .1s linear;
    color: #fff;
    position: relative;
    top: -74px;
    right: -550px;

}
.header__menu:hover {
    color: #a460f9;
}
/*start*/
.start__inner {
    position: relative;
    bottom: -300px;
    right: -950px;
    width: 100%;
    max-width: 300px;
}
.start__title {
    font-size: 25px;
    font-weight: 300;
    padding-bottom: 20px;
    position: relative;
    left: -100px;
    top: -65px;
}
.start__text {
    font-size: 15px;
    font-weight: 300;
    padding-bottom: 30px;
    position: relative;
    left: -100px;
    top: -65px;
}
.start__button__1 {
    font-size: 15px;
    font-weight: 300;
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    background-color: #a460f9;
    color:#fff;
    text-decoration: none;
    transition: background .1s linear, color .1s linear;
    position: relative;
    left: -100px;
    top: -65px;
}
.start__button__1:hover {
    color: #000000;
    background-color: #fff;
}
.start__button__2 {
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    position: relative;
    top: -58px;
    left: -90px;
    transition: color .1s linear;
}
.start__button__2:hover {
    color: #a460f9;
}
/*arrow*/
.arrow__button__1 {
    color: #dbdbdb;
    font-size: 40px;
    position: relative;
    left: -600px;
    top: -50px;
    transition: color .1s linear;
}
.arrow__button__2 {
    color: #dbdbdb;
    font-size: 40px;
    position: relative;
    left: -190px;
    top: -50px;
    transition: color .1s linear;
}
.arrow__button__1:hover {
    color: #a460f9;
}
.arrow__button__2:hover {
    color: #a460f9;
}
/*info*/
.info__1 {
    color: #fff;
    font-size: 140px;
    font-weight: 700;
    position: relative;
    left: -910px;
    top: -550px;
}
.info__2 {
    color: #a460f9;
    font-size: 140px;
    font-weight: 700;
    position: relative;
    left: -770px;
    top: -775px;
}
.info__3 {
    color: #fff;
    font-size: 30px;
    font-weight: 50;
    position: relative;
    left: -1035px;
    top: -750px;
    rotate: 270deg;
    letter-spacing: 5px;
}
.info__4 {
    color: #fff;
    font-size: 25px;
    font-weight: 1;
    position: relative;
    left: -800px;
    top: -690px;
}
.info__5 {
    color: #fff;
    position: relative;
    top: -762px;
    left: -830px;
}
.info__6 {
    font-size: 20px;
    color: #fff;
    position: relative;
    top: -1100px;
    right: -140px;
    padding: 20px;
    max-width: 130px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
}
/*stat*/
.statistics {
    background-color: #181818;
    box-shadow: 0 0 30px #000000;

}
.stat {
    display: flex;
    flex-wrap: wrap;
}
.stat__item {
    flex: 1 1 0;
    padding: 70px 25px;
    text-align: center;
    color: #fff;
    display: flex;
}
.stat__count__1 {
    margin-bottom: 10px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
}
.stat__count__2 {
    margin-bottom: 10px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
    position: relative;
    right: -30px;
}
.stat__count__3 {
    margin-bottom: 10px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
}
.stat__text__1__1 {
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    right: -13px;
}
.stat__text__1__2 {
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    bottom: -40px;
    left: -50px;
}
.stat__text__2__1 {
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    right: -40px;
}
.stat__text__2__2 {
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    right: 54px;
    bottom: -40px;
}
.stat__text__3__1 {
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    right: -15px;
}
.stat__text__3__2 {
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    right: 52px;
    bottom: -40px;
}
.stat__plus__1 {
    margin-bottom: 10px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
    color: #a460f9;
}
.stat__plus__2 {
    margin-bottom: 10px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
    color: #a460f9;
    position: relative;
    right: -30px;
}
.stat__plus__3 {
    margin-bottom: 10px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
    color: #a460f9;
}
.challenge {
    background: url(images/bg__2.jpg) center no-repeat;
    width: 100%;
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
}
.challenge__1 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    max-width: 240px;
    line-height: 150px;
    text-align: center;
    position: relative;
    right: -490px;
    bottom: -100px;
}
.challenge__2 {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    position: relative;
    top: -75px;
}
.challenge__3 {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    position: relative;
    top: -770px;
    left: -555px;
    transform: rotate(270deg);
}
.challenge__4 {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    position: relative;
    top: -740px;
    right: -553px;
    transform: rotate(270deg);
}
.challenge__5 {
    font-size: 70px;
    font-weight: 600;
    color: #252525;
    position: relative;
    right: -100px;
    bottom: -60px;
}
.challenge__6 {
    font-size: 70px;
    font-weight: 600;
    color: #252525;
    position: relative;
    top: -55px;
    right: -859px;
    max-width: 100px;
}
.challenge__7 {
    display: none;
}
.challenge__8 {
    display: none;
}
/*courses*/
.courses {
    background: url(images/bg__3.jpg);
    width: 100%;
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
}
.courses__info {
    display: flex;
    justify-content: space-between;
}
.courses__block__1 {
    max-width: 200px;
    padding: -10px;
    margin: 50px;
    border: 1px solid #484848;
    height: 270px;
    width: 200px;
    position: relative;
    bottom: -150px;
}
.courses__block__2 {
    max-width: 200px;
    padding: -10px;
    margin: 50px;
    border: 1px solid #484848;
    height: 270px;
    width: 200px;
    position: relative;
    bottom: -150px;
}
.courses__block__3 {
    max-width: 200px;
    padding: -10px;
    margin: 50px;
    border: 1px solid #484848;
    height: 270px;
    width: 200px;
    position: relative;
    bottom: -150px;
}
.courses__block__4 {
    max-width: 200px;
    padding: -10px;
    margin: 50px;
    border: 1px solid #484848;
    height: 270px;
    width: 200px;
    position: relative;
    bottom: -150px;
}
.courses__title {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    padding: 40px;
    position: relative;
    right: -10px;
    top: -30px;
}
.courses__count__1 {
    font-size: 10px;
    font-weight: 600;
    color: #000;
    display: inline-block;
    vertical-align: top;
    padding: 8px 8px;
    background-color: #fff;
}
.courses__count__2 {
    font-size: 20px;
    font-weight: 600;
    color: #a460f9;
    position: relative;
    top: -104px;
    right: -135px;
}
.courses__text {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
    top: -100px;
}
.courses__button {
    font-size: 10px;
    font-weight: 700;
    display: inline-block;
    vertical-align: top;
    padding: 5px 20px;
    background-color: #a460f9;
    color: #fff;
    text-decoration: none;
    transition: background .1s linear, color .1s linear;
    position: relative;
    right: -55px;
    top: -100px;
}
.courses__button:hover {
    color: #000;
    background-color: #fff;
}
.courses__text__1 {
    position: relative;
    font-size: 80px;
    font-weight: 700;
    top: -330px;
    right: -43px;
}
.courses__text__2 {
    color: #f2f2f2;
    position: relative;
    font-size: 20px;
    font-weight: 300;
    top: -390px;
    right: -230px;
}
.courses__text__3 {
    font-size: 20px;
    font-weight: 699;
    max-width: 100px;
    text-align: center;
    position: relative;
    right: -1080px;
    top: -480px;
}
.courses__text__4 {
    position: relative;
    right: -1070px;
    top: -453px;
}
.courses__text__5 {
    font-size: 15px;
    font-weight: 600;
    position: relative;
    top: -100px;
    right: -500px;
}
.courses__text__6 {
    font-size: 20px;
    transform: rotate(180deg);
    position: relative;
    left: -570px;
    top: -130px;
    cursor: pointer;
    color: #fff;
    transition: color .1s linear;
}
.courses__text__6:hover{
    color: #a460f9;
}
/*about*/
.about {
    background: url(images/bg__4.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.start__inner__2 {
    position: relative;
    bottom: 450px;
    right: -300px;
    width: 100%;
    max-width: 300px;
}
.about__title {
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 20px;
    position: relative;
    left: -100px;
    top: -40px;
}
.why__title {
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 20px;
    position: relative;
    left: -100px;
    top: -40px;
}
.about__title__2 {
    color: #a460f9;
    font-size: 40px;
    position: relative;
    top: -129px;
    right: -50px;
}
.about__text {
    font-size: 15px;
    font-weight: 300;
    padding-bottom: 30px;
    position: relative;
    left: -100px;
    top: -100px;
}
.about__icon__1 {
    display: flex;
    margin: -40px;
    flex-direction: row-reverse;
    font-size: 10px;
    position: relative;
    left: -430px;
    bottom: -1px;
    color: #a460f9;
}
.about__icon__2 {
    display: flex;
    margin: -40px;
    flex-direction: row-reverse;
    font-size: 10px;
    position: relative;
    left: -250px;
    bottom: -108px;
    color: #a460f9;
}
.about__subtitle__1 {
    font-size: 10px;
    font-weight: 300;
    position: relative;
    top: -27px;
    left: -80px;
}
.about__subtitle__2 {
    font-size: 10px;
    font-weight: 300;
    position: relative;
    bottom: -82px;
    left: -80px;
}
.about__subtitle__3 {
    font-size: 10px;
    font-weight: 300;
    position: relative;
    bottom: -80px;
    right: -100px;
}
.about__subtitle__4 {
    font-size: 10px;
    font-weight: 300;
    position: relative;
    bottom: -188px;
    right: -100px;
}
.about__button__1 {
    font-size: 15px;
    font-weight: 300;
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    background-color: #a460f9;
    color:#fff;
    text-decoration: none;
    transition: background .1s linear, color .1s linear;
    position: relative;
    bottom: -230px;
    left: -100px;
}
.about__button__1:hover {
    color: #000000;
    background-color: #fff;
}
.why__man__1 {
    opacity: 0;
}
/*why*/
.why {
    background: url(images/bg__5.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.start__inner__3 {
    position: relative;
    bottom: -150px;
    right: -850px;
    width: 100%;
    max-width: 300px;
}
.about__title {
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 20px;
    position: relative;
    left: -100px;
    top: -40px;
}
.why__title__2 {
    color: #a460f9;
    font-size: 40px;
    position: relative;
    top: -129px;
    right: -10px;
}
.about__text {
    font-size: 15px;
    font-weight: 300;
    padding-bottom: 30px;
    position: relative;
    left: -100px;
    top: -100px;
}
.why__button {
    font-size: 15px;
    font-weight: 300;
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    background-color: #a460f9;
    color:#fff;
    text-decoration: none;
    transition: background .1s linear, color .1s linear;
    position: relative;
    top: -90px;
    left: -100px;
}
.why__button:hover {
    color: #000000;
    background-color: #fff;
}
.why__5 {
    font-size: 70px;
    font-weight: 600;
    color: #252525;
    position: relative;
    right: -200px;
    top: -280px;
    transform: rotate(270deg);
}
.why__man__2 {
    opacity: 0;
}
.why__text {
    font-size: 15px;
    font-weight: 300;
    padding-bottom: 30px;
    position: relative;
    left: -100px;
    top: -100px;
}
/*video*/
.video {
    background: url(images/bg__6.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.video__inner {
    position: relative;
    right: -320px;
    bottom: -100px;
}
.video__icon__1 {
    padding-top: 1px;
    position: relative;
    transition: color .1s;
    cursor: pointer;
    font-size: 100px;
    top: -320px;
    right: -280px;
    color: #bd87ff;
}
.video__icon__1:hover {
    color: #a460f9;
    transform: scale(.05);
}
.video__text__1 {
    position: relative;
    top: -670px;
    left: -315px;
    transform: rotate(270deg);
}
.video__text__2 {
    position: relative;
    top: -950px;
    right: -336px;
    transform: rotate(270deg);
}
.video__video {
    position: relative;
}
/*users*/
.users {
    background: url(images/bg__7.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 150vh;
}
.users__inner {
    display: flex;
    justify-content: space-between;
    padding: 100px;
    position: relative;
    top: -50px;
}
.users__title {
    display: flex;
    justify-content: center;
    font-size: 100px;
    font-weight: 700;
    position: relative;
    right: -5px;
}
.users__subtitle {
    color: #a460f9;
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 30px;
    top: -20px;
    right: -5px;
}
.user {
    display: flex;
}
.user__img__1 {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 1.4px solid #a460f9;
}
.user__img__2 {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 1.4px solid #a460f9;
}
.user__img__3 {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 1.4px solid #a460f9;
}
.user__title__1 {
    position: relative;
    right: -50px;
    bottom: -10px;
}
.user__title__1__1 {
    color: #a460f9;
    position: relative;
    right: -105px;
    top: -14px;
}
.user__title__2 {
    position: relative;
    right: -60px;
    bottom: -5px;
}
.user__title__2__2 {
    position: relative;
    color: #a460f9;
    right: -105px;
    top: -19px;
}
.user__title__3 {
    position: relative;
    right: -60px;
    bottom: -5px;
}
.user__title__3__3 {
    position: relative;
    color: #a460f9;
    right: -105px;
    top: -19px;
}
.user__icons {
    color: #a460f9;
    display: flex;
    justify-content: center;
    position: relative; 
}
.user__icons__2 {
    color: #a460f9;
    display: flex;
    justify-content: center;
    position: relative;
    right: -5px;
}
.user__icons__3 {
    color: #a460f9;
    display: flex;
    justify-content: center;
    position: relative;
    right: -5px;
}
.user__icon__1__1 {
    color: #fff;
}
.user__icon__2__2 {
    color: #fff;
}
.user__icon__3__3 {
    color: #fff;
}
.user__quotes {
    display: flex;
    justify-content: space-between;
}
.user__quote__1 {
    position: relative;
    bottom: -30px;
    left: -10px;
    color: #a460f9;
}
.user__quote__2 {
    transform: rotate(180deg);
    position: relative;
    bottom: -120px;
    right: -30px;
    color: #a460f9;
}
.user__text {
    max-width: 200px;
    text-align: justify;
    position: relative;
    right: -10px;
}
.user__arrow__1 {
    position: relative;
    bottom: -470px;
    left: -740px;
    font-size: 50px;
    transition: color .1s;
    cursor: pointer;
}
.user__arrow__2 {
    position: relative;
    font-size: 50px;
    bottom: -390px;
    left: -200px;
    transform: rotate(180deg);
    transition: color .1s;
    cursor: pointer;
}
.user__arrow__1:hover {
    color: #a460f9;
}
.user__arrow__2:hover {
    color: #a460f9;
}
.user__1 {
    position: relative;
}
.user__2 {
    position: relative;
    right: -90px;
}
.user__3 {
    position: relative;
    right: -170px;
}
/*sub*/
.sub {
    background: url(images/bg__8.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 140vh;
}
.sub__inner {
    position: relative;
    top: -1100px;
}
.sub__title {
    position: relative;
    font-size: 50px;
    font-weight: 700;
    right: -810px;
    bottom: -100px;
}
.sub__subtitle {
    position: relative;
    font-size: 30px;
    color: #a460f9;
    right: -830px;
    bottom: -100px;
}
.sub__text {
    position: relative;
    text-align: center;
    max-width: 400px;
    right: -750px;
    bottom: -150px;
}
.sub__input__1 {
    padding: 10px;
    background-color: #181818;
    border: 1.3px solid #a460f9;
    color: #fff;
    width: 300px;
}
.sub__input__2 {
    padding: 10px;
    background-color: #181818;
    border: 1.3px solid #a460f9;
    color: #fff;
    width: 300px;
}
.sub__input__3 {
    background-color: #181818;
    border: 1.3px solid #a460f9;
    color: #fff;
    width: 300px;
    height: 150px;
    padding-bottom: 100px;
    padding-left: 10px;
}
.sub__sub__1 {
    position: relative;
    right: -800px;
    bottom: -200px;
}
.sub__sub__2 {
    position: relative;
    right: -800px;
    bottom: -250px;
}
.sub__sub__3 {
    position: relative;
    right: -800px;
    bottom: -300px;
}
.sub__why__button {
    font-size: 15px;
    font-weight: 300;
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    background-color: #a460f9;
    color:#fff;
    text-decoration: none;
    transition: background .1s linear, color .1s linear;
    position: relative;
    bottom: -350px;
    right: -870px;
}
.sub__why__button:hover {
    background-color: #fff;
    color: #000;
}
.why__man__3 {
    opacity: 0;
}
.sub__button {
    font-size: 15px;
    font-weight: 300;
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    background-color: #a460f9;
    color:#fff;
    text-decoration: none;
    transition: background .1s linear, color .1s linear;
    position: relative;
    right: -865px;
    bottom: -380px;
    cursor: pointer;
}
.sub__button:hover {
    background-color: #fff;
    color: #000;
}
.sub__button__2 {
    text-decoration: none;
    font-weight: 600;
    color: #fff;
}
.sub__button__2:hover {
    color: #000;
}
/*end*/
.end {
    background-color: #8c6eca;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 60vh;
}
.end__inner {
    display: flex;
    justify-content: space-between;
}
.end__1 {
    max-width: 200px;
    position: relative;
    right: -100px;
    bottom: -75px;    
}
.end__title__1 {
    font-size: 30px;
}
.end__title__3 {
    max-width: 300px;
    text-align: end;
    position: relative;
    bottom: -75px;
    font-size: 30px;
    left: -100px;
}
.end__buttons__1 {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: -15px;
}
.end__buttons__2 {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    right: -3px;
    bottom: -15px;
}
.end__2 {
    position: relative;
    left: -150px;
    bottom: -75px;
}
.end__sub__sub__3 {
    position: relative;
    bottom: -100px;
    left: -100px;
}
.end__sub__input__3 {
    position: relative;
    width: 300px;
    height: 50px;
    background-color: #8c6eca;
    border: 1.4px solid #fff;
    color: #fff;
}
.end__btn__1 {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: color .1s;
}
.end__btn__1:hover {
    text-decoration: underline;
}
.end__hr__1 {
    background-color: #fff;
    margin: 0;
    width: 80px;
    height: 2px;
}
.end__hr__2 {
    background-color: #fff;
    margin: 0;
    width: 170px;
    height: 2px;
}
.end__hr__3 {
    background-color: #fff;
    margin: 0;
    width: 50px;
    height: 2px;
    position: relative;
    bottom: -60px;
    left: -65px;
}
.end__title__4 {
    position: relative;
    bottom: -143px;
    left: -80px;
}
.end__icons {
    display: flex;
    justify-content: space-between;
    padding-right: 150px;
    font-size: 30px;
    position: relative;
    bottom: -113px;
    right: -30px;
}
.end__icon__1 {
    cursor: pointer;
    position: relative;
    top: -7px;
}
@media (max-width: 426px) {
    .start {
        background-position: 49%;
    }
    .header__logo {
        position: relative;
        left: 5%;
        top: -10px;
        font-size: 20px;
    }
    .header__menu {
        position: relative;
        left: 27vh;
    }
    .info__1 {
        font-size: 100px;
        font-weight: 100;
        position: relative;
        top: -570px;
        left: -935px;
    }
    .info__2 {
        font-size: 100px;
        left: -280%;
        position: relative;
        top: -730px;
    }
    .info__3 {
        position: relative;
        top: -220px;
        left: -1050px
    }
    .info__4 {
       display: none;
    }
    .info__5 {
        display: none;
    }
}
@media (max-width: 376px) {
    .start {
        height: 100vh;
    }
    .header__menu {
        left: 37%;
        font-size: 20px;
        top: -70px;
    }
    .info__1 {
        font-size: 80px;
        top: -550px;
    }
    .info__2 {
        font-size: 60px;
        top: -655px;
        left: -860px;
    }
    .info__3 {
        display: none;
    }
    .arrow__button__1 {
        left: -307%;
        top: 110px;
        font-size: 30px;
    }
    .arrow__button__2 {
        left: -220%;
        top: 105px;
        font-size: 30px;   
    }
    .start__button__1 {
        left: -830px;
        top: 100px;
    }
    .courses__block__1 {
        padding-right: 100px;
        right: -40px;
    }
    .courses__count__2 {
        right: -130px;
        top: -103px;
    }
    .courses__text {
        width: 200px;
    }
    .courses__text__1 {
        right: -130px;
        font-size: 50px;
    }
    .courses__text__2 {
        top: -330px;
        left: 130px;
    }
    .courses__info {
        position: relative;
        bottom: -50px;
    }
    .stat__count__1 {
        font-size: 50px;
    }
    .stat__count__2 {
        font-size: 50px;
    }
    .stat__count__3 {
        font-size: 50px;
    }
    .challenge__2 {
        top: -10px;
    }
    .challenge__7 {

    }
    .challenge__8 {
        
    }
    .challenge__5 {
        left: 45px;
    }
    .start__inner__2 {
        left: 130px;
        top: -1100px;
    }
    .about__title {
        left: -15px;
        top: -100px;
    }
    .about__title__2 {
        left: 40px;
    }
    .about__text {
        left: -90px;
        text-align: center;
    }
    .about__button__1 {
        left: -10px;
    }
    .start__inner__3 {
        left: 140px;
    }
    .why__text {
        text-align: center;
    }
    .why__title {
        top: -100px;
        left: -10px;
    }
    .why__title__2 {
        left: 20px;
    }
    .why__button {
        left: -30px;
    }
    .video__inner {
        left: -120px;
    }
    .users__inner {
        left: -10px;
    }
    .sub__inner {
        left: -760px;
    }
    .stat__item {
        position: relative;
        left: -30px;
    }
    .stat__text__1__1 {
        right: -105px;
    }
    .stat__text__1__2 {
        left: 38px;
    }
    .stat__text__2__1 {
        right: -133px;
    }
    .stat__text__2__2 {
        right: -30px;
    }
    .stat__text__3__1 {
        right: -95px;
    }
    .stat__text__3__2 {
        right: -23px;
    }
    .stat__count__1 {
        font-size: 40px;
        position: relative;
        right: -90px;
        bottom: -15px;
    }
    .stat__count__2 {
        font-size: 40px;
        position: relative;
        right: -103px;
        bottom: -15px;
    }
    .stat__count__3 {
        font-size: 40px;
        position: relative;
        right: -80px;
        bottom: -15px;
    }
    .stat__plus__1 {
        font-size: 50px;
        position: relative;
        right: -80px;
        bottom: -10px;
    }
    .stat__plus__2 {
        font-size: 50px;
        position: relative;
        right: -80px;
        bottom: -10px;
    }
    .stat__plus__3 {
        font-size: 50px;
        position: relative;
        right: -80px;
        bottom: -10px;
    }
    .challenge {
        height: 100vh;
        width: 51vh;
    }
    .about {
        background-position: 40%;
    }
    .why__man__1 {
        opacity: 30%;
        left: 60px;
        position: relative;
        bottom: 10px;
    }
    .why {
        background-position: 80%;
    }
    .why__man__2 {
        opacity: 30%;
        left: 60px;
        position: relative;
        bottom: 10px;
    }
}
